table {
    font-size: 1rem;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-family: var(--sans-font);
    width: 100%;
}
th {
    text-align: left;
}
th.pass {
    text-align: right;
    color: green;
}
th.fail {
    text-align: right;
    color: red;
}
tr:not(:last-of-type) > td {
    vertical-align: text-top;
    border: solid 2px var(--col-prim-dark);
    padding: 0.25rem;
}
code {
    word-break: break-word;
}