table {
    font-size: 1rem;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
th {
    font-family: var(--sans-font);
    text-align: left;
}
th.passed {
    color: green;
}
th.failed {
    color: red;
}
tr:first-of-type > th {
    border-bottom: solid 2px var(--col-prim-dark);
}
td {
    vertical-align: text-top;
    border: solid 2px var(--col-prim-dark);
    padding: 0.25rem;
}